.button {
    background-color: black;
    color: #34c94b;
    border: none;
    border-radius: 10px;
    padding: 10px 18px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    cursor: pointer;
  }