.hero {
  background-color: var(--color-black);
  height: 270px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
  color: white;
  padding: 0 20px;
  box-sizing: border-box;
}

.hero h1 {
  margin: 0;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.4;
}